[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pycrypto = "*"
slack-sdk = "*"
pycryptodome = "*"
pycryptodomex = "*"
psycopg-binary = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
